
/*----------------------- 
         General
--------------------------*/
*, ::before, ::after{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
}
p{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
h1{
    padding: 0;
    margin: 0;
}

/*----------------------- 
--------------------------*/

/*----------------------- 
         Typeography
--------------------------*/

 .item-gray-text{
     font-family: 'Montserrat', sans-serif;
     color: hsl(228, 12%, 48%);
     line-height: 1.75em;
 }
 .item-name, .price{
    font-family: 'Fraunces', sans-serif;
 }
.price{
    color: hsl(158, 36%, 37%);
}
.bttn-text{
    text-align: center;
    margin-left: 1em;
}
/*----------------------- 
--------------------------*/

/*----------------------- 
    Spacing, Displays
--------------------------*/


.reduced-price{
    margin-left: 1rem;
    text-decoration: line-through;
}
.atc-bttn p{
  margin: 0 0.5em;
}
.attribution{
    margin-top: 1em;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inline-block{
    display: inline-block;
}
@media(max-width: 900px){
    .item-description > *, .flex, .atc-bttn-container{
        margin: 1.5rem 1.5rem 0px 1.5rem;
    }
    .atc-bttn{
        margin-bottom: 1.5rem;
    }
}
@media(min-width: 900px){
    .item-description > *, .flex, .atc-bttn-container{
        margin: 1rem 2rem 0px 2rem;
    }
    .price{
        margin: 0.5rem 0;
    }
    .atc-bttn{
        margin-bottom: 1.5rem;
    }
}
/*----------------------- 
--------------------------*/

/*----------------------- 
         Buttons

    atc = add to cart 
--------------------------*/

.atc-bttn{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border:0;
    background-color: hsl(158, 36%, 37%);
    color: white;
    cursor: pointer;
}
@media (min-width: 900px){
    .atc-bttn{
        padding: 1.25em;
        border-radius: 0.5em;
    }   
}
@media (max-width: 900px){
    .atc-bttn{
        padding: 1.5em;
        border-radius: 1em;
    }   
}
/*----------------------- 
--------------------------*/

/*----------------------- 
      Images, Icons
--------------------------*/

.image-container{
    width: 100%;
}
.mobile-image{
    width: 100%;
}
.icon-cart{
    vertical-align: bottom;
}
/*----------------------- 
--------------------------*/

/*----------------------- 
         Main
--------------------------*/

.main-container{
    margin: auto;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: white;
}
@media (min-width: 900px){
    .main-container{
        display: flex;
        flex-direction: row;
        margin: auto;
        border-radius: 0.5rem;
        overflow: hidden;
        background-color: white;
        max-width: 600px;
        max-height: 450px;
    }
    .image-container, .item{
        width: 50%;
    }
    .desktop-image{
        width: 100%;
        vertical-align: bottom;
    }
    .mobile-image{
        display: none;
    }
    .item{
        height: 600px;
    }
}
@media (max-width: 900px){
    .desktop-image{
        display: none;
    }
}
/*----------------------- 
--------------------------*/